<!DOCTYPE html>
<html lang="ru">
    <%
    page = {
      title: 'Два дня тренинга Вадима Салманова',
      permalink: '/course/pay-2/',
      name: client.name,
      author_title: client.description,
      headline: 'Оплатите участие в&nbsp;тренинге Вадима Салманова',
      lead: '',
      amount_text: '140&nbsp;000 рублей',
      amount: '140000',
      target: 'Два дня тренинга',
      successURL: site.url + '/course-ok/',

      meta: {
        keywords: '',
        description: '', // Если пустое значение будет использовано значение client.description
        image: 'images/social/social_photo.png'
      },
      slick_slider: false // Добавлять ли на страницу скрипт и стили слайдера Slick (необходим для блоков Дипломы, Благодарности)
    };

    //Код для определения глубины вложенности данной страницы и выстраивания правильных относительных путей к частям шаблона
    page_nesting_level = (page.permalink.match(/\//g) || []).length;
    if (page.permalink !== '/') { 
      subfolder = '../';
      if (page_nesting_level > 2) {
        subfolder = subfolder.repeat(page_nesting_level - 1);
      }
    } else { subfolder = '' } 
  %>
  <%- include(subfolder + 'template-parts/_head.ejs') %>
  <body class="<%= site.template %>">
    <%- include(subfolder + 'template-parts/_pay.ejs') %>
    <%- include(subfolder + 'template-parts/_scripts.ejs') %>
  </body>
</html>