<!DOCTYPE html>
<html lang="ru">
    <%
    page = {
      title: 'Политика конфиденциальности',
      permalink: '/privacy/', //Важно! Если не верно указать относительный путь к странице - будет ошибка подгрузки частей шаблона.
      meta: {
        keywords: '',
        description: '',
        image: ''
      },
      slick_slider: false // Добавлять ли на страницу скрипт и стили слайдера Slick (необходим для блоков Дипломы, Благодарности)
    };

    //Код для определения глубины вложенности данной страницы и выстраивания правильных относительных путей к частям шаблона
    page_nesting_level = (page.permalink.match(/\//g) || []).length;
    if (page.permalink !== '/') { 
      subfolder = '../';
      if (page_nesting_level > 2) {
        subfolder = subfolder.repeat(page_nesting_level - 1);
      }
    } else { subfolder = '' }
  %>
  <%- include(subfolder + 'template-parts/_head.ejs') %>
  <body class="<%= site.template %>">
    <div class="block py-5">
      <div class="container">
        <h1 class="block-title m-b-lg">Политика конфиденциальности</h1>
        <p>Администрация этого Сайта с уважением относится к посетителям Сайта. Мы признаем важность конфиденциальности личной информации посетителей нашего Сайта. Пожалуйста, прочитайте следующую информацию о политике конфиденциальности, с помощью
        которой Вы даете согласие на сбор, хранение и использование Вашей личной информации в соответствии с этой политикой.</p>
        <h2>Сбор информации</h2>
        <p>Как и многие другие веб-сайты, наш Сайт использует лог-файлы, которые содержат статистическую информацию о пользователях нашего Сайта, такие как IP-адрес, операционная система и тип браузера. Данная информация используются в служебных целях
          для администрирования Сайта.
        Сайт собирает личную информацию, которую Вы предоставляете добровольно при посещении или регистрации на Сайте, например, Ваше имя или адрес электронной почты. Просматривать содержание Сайта можно и без прохождения процедуры регистрации.</p>
        <h2>Общедоступная информация</h2>
        <p>Если Вы просто просматриваете сайт без регистрации, информация о Вас не публикуется на сайте.
          Когда Вы пишете или редактируете материалы на сайте, вы публикуете каждое слово из того, что написали, и эта информация будет храниться и показываться другим посетителям проекта. Это касается статей, полезных советов, материалов, личных
        страниц пользователей, комментариев и т. п.</p>
        <h2>Идентификация посетителей</h2>
        <p>Вы можете зарегистрироваться на сайте, а можете не регистрироваться.
          Если Вы зарегистрировались, Вы будете идентифицироваться Вашим именем участника. Это может быть ваше настоящее имя (если вы этого хотите) или Вы можете предпочесть публиковаться под псевдонимом — тем именем, которым представились при
        создании учётной записи. Другие зарегистрированные посетители сайта смогут посмотреть данные, указанные Вами при регистрации.</p>
        <h2>Соглашение об обработке персональных данных</h2>
        <p>Обработка персональных данных Пользователя осуществляется в соответствии с законодательством Российской Федерации. Администрация Сайта обрабатывает персональные данные Пользователя в целях предоставления Пользователю услуг.
          Пользователь заполняя форму «Имя» «Емейл» «Номер телефона» даёт согласие на обработку своих персональных данных. Под обработкой персональных данных понимается сбор, систематизация, накопление, уточнение (обновление, изменение).
          Обработка осуществляется с использованием средств автоматизации и/или без использования таких средств, в целях реализации мероприятий оповещения пользователя о изменениях на сайте и по поддержке обратной связи с пользователями сайта.
          В соответствии с ФЗ от 27.07.2006 г. № 152-ФЗ «О персональных данных» я согласен, при необходимости, во время заполнения информации при регистрации в сайте или при отправке заявки на участие в сеансе онлайн-связи предоставить информацию,
        относящуюся к моей личности, например: мое имя, мой номер телефона и электронной почты.</p>
        <h2>Электронная почта</h2>
        <p>Адрес электронной почты, указываемый Вами при регистрации, не показывается другим посетителям сайта.
        Мы можем сохранять сообщения электронной почте и другие письма, оправленные пользователями, чтобы обрабатывать вопросы пользователей, отвечать на запросы и совершенствовать наши службы.</p>
        <h2>Куки (Cookie)</h2>
        <p>Когда Вы посещаете сайт, на Ваш компьютер отправляются один или несколько файлов cookie. Это небольшой файл, в котором содержатся наборы символов и который позволяет идентифицировать браузер.
          Когда Вы регистрируетесь на сайте, на Ваш компьютер могут отправляться дополнительные файлы cookie, позволяющие избежать повторного ввода имени пользователя (и, возможно, пароля) при следующем визите. Вы можете стереть их по окончании
          сеанса, если используете общедоступный компьютер и не желаете открывать свой псевдоним последующим пользователям компьютера (в таком случае вам также нужно очистить кэш браузера).
          Мы используем файлы cookie, чтобы повысить качество своих услуг путем сохранения пользовательских настроек и отслеживания тенденций в действиях пользователей, например, при выполнении поиска. Большинство браузеров изначально настроены так,
        чтобы принимать файлы cookie, однако Вы можете полностью запретить использование файлов cookie или настроить показ уведомлений об их отправке. Однако без файлов cookie некоторые функции сайта могут работать неправильно.</p>
        <h2>Протоколирование</h2>
        <p>При каждом посещении сайта наши серверы автоматически записывают информацию, которую Ваш браузер передает при посещении веб-страниц. Как правило эта информация включает запрашиваемую веб-страницу, IP-адрес компьютера, тип браузера, языковые
        настройки браузера, дату и время запроса, а также один или несколько файлов cookie, которые позволяют точно идентифицировать Ваш браузер.</p>
        <h2>Ссылки</h2>
        <p>На этом сайте ссылки могут быть в таком формате, который позволяет отслеживать, пользуются ли ими посетители. Эта информация используется для повышения качества нашей рекламы.</p>
        <h2>Изменения в политике конфиденциальности</h2>
        <p>Обратите внимание, что политика конфиденциальности может периодически изменяться. Все изменения политики конфиденциальности публикуются на этой странице.</p>
        <h2>Отказ от ответственности</h2>
        <p>Вы можете отключить Cookies с помощью определенных настроек в Вашем браузере.
          Помните, что передача информации личного характера при посещении сторонних сайтов, включая веб-сайты, ссылку на которые содержит наш Сайт, не подпадает под действие данного документа. Администрация Сайта не несет ответственности за действия
        других веб-сайтов. Процесс сбора и передачи информации личного характера при посещении этих сайтов регламентируется «Политикой конфиденциальности» или аналогичными документами, которые расположены на сайтах этих компаний.</p>
      </div>
    </div>
    <div class="container">
      <hr>
    </div>
    <%- include(subfolder + 'template-parts/_footer.ejs') %>
  </div>
  <%- include(subfolder + 'template-parts/_scripts.ejs') %>
</body>
</html>