<%#
  Шаблон ожидает следующую структуру переменной ac_form на входе.
  ac_form = {
    offer: 'Вадим Салманов - бесплатный МК',
    activecampaign_form_id: '',
    trello_list_id: '5c5ba1050149d20b6f5ffd60',
    redirect: '/ok/', //относительный путь к странице подтверждения успешной отправки формы
    input_name: true, // определяет включать ли соответствующее поле в форму
    input_email: false,
    input_phone: true,
    submit_btn_lable: 'Записаться'
  }
%>
<form method="post" class="p-t" action="https://nickvorobiov.activehosted.com/proc.php" data-toggle="validator">
  <input type="hidden" name="u" value="<%- ac_form.activecampaign_form_id %>" />
  <input type="hidden" name="f" value="<%- ac_form.activecampaign_form_id %>" />
  <input type="hidden" name="s" />
  <input type="hidden" name="c" value="0" />
  <input type="hidden" name="m" value="0" />
  <input type="hidden" name="act" value="sub" />
  <input type="hidden" name="v" value="2" />

  <input type="hidden" name="field[1]" data-field="roistat" value="" />
  <input type="hidden" name="field[2]" data-field="traffic_source" value="" />
  <input type="hidden" name="field[3]" data-field="trello-list-id" value="<%- ac_form.trello_list_id %>" />
  <input type="hidden" name="field[4]" data-field="referer" value="" />
  <input type="hidden" name="field[7]" data-field="offer" value="<%- ac_form.offer %>" />

  <div class="help-block with-errors"></div>
  <div class="form-group">
    <label for="input-name" class="control-label">Имя</label>
    <input id="input-name" required="required" name="name" type="text" class="form-control" placeholder="Иван Иванов">
    <div class="help-block with-errors"></div>
  </div>
  <!-- div class="form-group">
    <label for="input-phone" class="control-label">Телефон</label>
    <input id="input-phone" required="required" name="phone" type="text" class="form-control" placeholder="+7 921 765-43-21">
    <div class="help-block with-errors"></div>
  </div-->
  <div class="form-group">
    <label for="input-email" class="control-label">Электронная почта</label>
    <input id="input-email" required="required" name="email" type="text" class="form-control" placeholder="ivan@ivanov.com">
    <div class="help-block with-errors"></div>
  </div>

  <button type="submit" class="btn btn-primary btn-block" id="activecampaign-btn">Записаться</button>
  <label class="agreement_label p-t font16 text-normal">
    <input name="privacy" checked="checked" id="confirm-agreement" type="checkbox" required="required" >
    Согласен(-нa) с <a href="/privacy/" target="_blank">условиями</a> обработки персональных данных
  </label>
</form>