
<%#
  Шаблон ожидает следующую структуру переменной author на входе.
  author = {
    is_even_section: true,
    title: 'Стелла Глушенкова',
    descr: 'блогер, психолог, бизнесвумен, партнёр компании Super Ego',
    content: [
      {
        image: '/images/photo.jpg',
         name:'Наталья Иванова',
        list: [
          'Эксперт по&nbsp;продажам, диагностике отделов продаж, аудиту персонала, созданию корпоративных стандартов и&nbsp;книг продаж',
          'Автор книги &laquo;Бизнес аргументация. Продавай без возражений&raquo; ',
          'Основатель проекта &laquo;salmanov.group&raquo;: построение отделов продаж',
          'Более 26&nbsp;лет занимает руководящие позиции в&nbsp;сфере продаж и&nbsp;маркетинга крупных компаний (производство и&nbsp;продажи стекла, продуктов питания, стройматериалов, спецодежды), в&nbsp;том числе управление торговыми домами при производственных предприятиях',
          'Имеет огромный опыт запуска старт-ап проектов, управление филиальными сетями'
        ]
      },
      {
        image: '/images/photo2.jpg',
         name:'Наталья Иванова',
        list: [
          'Успешное антикризисное управление производством и&nbsp;продажами',
          'Отличное знание специфики всех регионов России, стран СНГ и&nbsp;их&nbsp;ключевых игроков',
          'На&nbsp;управленческом счету такие проекты, как ООО &laquo;Саратовстекло&raquo; (заместитель директора по&nbsp;продажам), ООО &laquo;ТЗК&raquo; Сарстекло&quot; (директор), ГК&nbsp;&laquo;Восток-сервис&raquo; г. Москва (заместитель начальника регионального управления)',
          'На&nbsp;данный момент занимается консалтинговой деятельностью, консультируя крупнейшие предприятия России',
          'Программы тренингов: &laquo;Секреты чемпионов продаж&raquo;, &laquo;Эффективные переговоры. Техники влияния&raquo;'
        ]
      }
    ]
  }
%>
<style type="text/css">
<% 
if (author.content.length) { 
  author.content.forEach(function (item, index) { 
%>
.author .author__content <%= (index + 1 > 1) ? '.author' + (index +1) : '' %> .col.author__pic {
background: #f7f9fb url("<%- item.image %>") center top no-repeat;
-webkit-background-size: cover;
background-size: cover;
}
<% });
} 
%>
</style>
<section class="sec author <%= (author.is_even_section) ? 'even' : 'odd' %>">
  <div class="container">
    <div class="row">
      <div class="col offset-lg-1 col-lg-10">
        <h2 class="sec__title"><%- author.title %></h2>
      </div>
    </div>
    <div class="author__content">

      <% 
      if (author.content.length) { 
        author.content.forEach(function (item, index) { 
      %>
      <div class="row no-gutters justify-content-center <%= (index + 1 > 1) ? 'author' + (index +1) : '' %>">
        <div class="col col-xl-auto author__pic"><%- author.title %></div>
        <div class="col col-xl-auto" style="padding-top:20px;">

          <ul class="author__list iconed" style="padding-top: 20px;">
            <% 
            if (item.list.length) { 
              item.list.forEach(function (li_content) { 
            %>
            <li>
              <p><%- li_content %></p>
            </li>
            <% });
            } 
            %>
          </ul>
        </div>
      </div>
      <% });
      } 
      %>
            
    </div>
  </div>
</section>