<%#
  Шаблон ожидает заполненные значения для заголовка и подзаголовка в переменной page
  page = {
    header_title: 'Собери команду продажников, <em>которыми ты будешь&nbsp;гордиться</em>',
    header_subtitle: 'Корпоративный тренинг по&nbsp;продажам от&nbsp;Вадима Салманова',
    video: 'OkECXOTYT3w',
  }

  А также следующую структуру переменной utp_button на входе.
  utp_button = {
      lable: '', // Если пустое значение будет использовано значение page.title либо site.title
      type: 'modal', // Варианты значений: modal, price, m.me, other  
      href: '' // Будет использовано при type: 'other' 
  }
%>
<div class="utp">
  <div class="container">
    <div class="row justify-content-center align-items-center">
    <% if (page.video) { %>
      <div class="col col-lg-6 col-xl-5 offset-xl-1 text-center text-lg-left">
        <h1 class="utp__title"><%- page.header_title %></h1>
        <p class="utp__descr"><%- page.header_subtitle %></p>
        <% if (utp_button.type != 'modal') { %><%- '<!-- ' %><% } %>
        <button type="button" class="btn" data-toggle="modal" data-target="#modal"><% if (utp_button.lable) { %><%- utp_button.lable %><% } else { %><%- (page.title) ? page.title : site.title %><% } %></button>
        <% if (utp_button.type != 'modal') { %><%- ' -->' %><% } %>
        <% if (utp_button.type != 'price') { %><%- '<!-- ' %><% } %>
        <a href="#price" class="btn" type="button"><% if (utp_button.lable) { %><%- utp_button.lable %><% } else { %><%- (page.title) ? page.title : site.title %><% } %></a>
        <% if (utp_button.type != 'price') { %><%- ' -->' %><% } %>
        <% if (utp_button.type != 'm.me') { %><%- '<!-- ' %><% } %>
        <a href="https://m.me/<%- site.fb_group_id %>?ref=/start" class="btn" type="button"><% if (utp_button.lable) { %><%- utp_button.lable %><% } else { %><%- (page.title) ? page.title : site.title %><% } %></a>
        <% if (utp_button.type != 'm.me') { %><%- ' -->' %><% } %>
        <% if (utp_button.type == 'other') { %>
        <a href="<%- utp_button.href %>" class="btn" type="button"><% if (utp_button.lable) { %><%- utp_button.lable %><% } else { %><%- (page.title) ? page.title : site.title %><% } %></a>
        <% } %>
      </div>
      <div class="col-lg-6">
        <div class="embed-responsive embed-responsive-my">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%- page.video %>?rel=0" allowfullscreen></iframe>
        </div>
      </div>
    <% } else { %>
      <div class="col col-lg-10 text-center">
        <h1 class="utp__title"><%- page.header_title %></h1>
        <p class="utp__descr"><%- page.header_subtitle %></p>
        <% if (utp_button.type != 'modal') { %><%- '<!-- ' %><% } %>
        <button type="button" class="btn" data-toggle="modal" data-target="#modal"><% if (utp_button.lable) { %><%- utp_button.lable %><% } else { %><%- (page.title) ? page.title : site.title %><% } %></button>
        <% if (utp_button.type != 'modal') { %><%- ' -->' %><% } %>
        <% if (utp_button.type != 'price') { %><%- '<!-- ' %><% } %>
        <a href="#price" class="btn" type="button"><% if (utp_button.lable) { %><%- utp_button.lable %><% } else { %><%- (page.title) ? page.title : site.title %><% } %></a>
        <% if (utp_button.type != 'price') { %><%- ' -->' %><% } %>
        <% if (utp_button.type != 'm.me') { %><%- '<!-- ' %><% } %>
        <a href="https://m.me/<%- site.fb_group_id %>?ref=/start" class="btn" type="button"><% if (utp_button.lable) { %><%- utp_button.lable %><% } else { %><%- (page.title) ? page.title : site.title %><% } %></a>
        <% if (utp_button.type != 'm.me') { %><%- ' -->' %><% } %>
        <% if (utp_button.type == 'other') { %>
        <a href="<%- utp_button.href %>" class="btn" type="button"><% if (utp_button.lable) { %><%- utp_button.lable %><% } else { %><%- (page.title) ? page.title : site.title %><% } %></a>
        <% } %>
      </div>
    <% } %>
    </div>
  </div>
</div>