<%#
  Шаблон ожидает следующую структуру переменной bullets_list на входе.
  bullets_list = [
    'Повысь эффективность менеджеров, ответственных за&nbsp;продажи',
    'Получи готовые скрипты и&nbsp;шаблоны для продажников, а&nbsp;также инструменты для управления отделом',
    'Получи мощную команду топ-менеджеров'
  ]
%>
<div class="bullets">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 col-lg-12 offset-lg-0 col-xl-10 offset-xl-1">
        <ul class="bullets__list">
          <% 
          if (bullets_list.length) { 
            bullets_list.forEach(function (item) {
          %>
          <li><%- item %></li>
          <% });
          } 
          %>
        </ul>
      </div>
    </div>
  </div>
</div>