<%#
  Шаблон ожидает следующую структуру переменной modal на входе.
  modal = {
    id: '', // Если оставить пустым будет испольовано стандартное id modal
    title: '', // Если пустое значение будет использовано значение page.title либо site.title
    offer: 'Вадим Салманов - бесплатный МК',
    trello_list_id: '5c5ba1050149d20b6f5ffd60',
    redirect: 'http://f3superego.icoach.io/ok', //относительный путь к странице подтверждения успешной отправки формы
    input_name: true, // определяет включать ли соответствующее поле в форму
    input_email: true,
    input_phone: true,
    submit_btn_lable: 'Записаться'
  }
  Также данная форма использует значения из переменной client, которые задаются в файле _client_data.ejs. А именно необходимы следующие данные.
  site = {
    url: 'http://f3superego.icoach.io/ok' 
  }
%>
<div class="modal fade" tabindex="-1" role="dialog" id="<%- (modal.id) ? modal.id : 'modal' %>">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><% if (modal.title) { %><%- modal.title %><% } else { %><%- (page.title) ? page.title : site.title %><% } %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post" action="http://bot.nickvorobiov.com/order.php" data-toggle="validator">
            <input type="hidden" name="trello-list-id" id="input-trello-list-id" value="<%- modal.trello_list_id %>" />
            <input type="hidden" name="redirect" id="input-redirect" value="<%- site.url %><%- modal.redirect %>" />
            <input type="hidden" name="offer" id="input-offer" value="<%- modal.offer %>" />
            <input type="hidden" name="timezone" />
            <input type="hidden" name="traffic_source" />
            <input type="hidden" name="roistat" />
            <div class="help-block with-errors"></div>
            <% if (modal.input_name) { %>
            <div class="form-group">
              <label for="input-name" class="control-label">Имя</label>
              <input id="input-name" required="required" name="name" type="text" class="form-control" placeholder="Иван Иванов">
              <div class="help-block with-errors"></div>
            </div>
            <% } %>
            <% if (modal.input_email) { %>
            <div class="form-group">
              <label for="input-email" class="control-label">Электронная почта</label>
              <input id="input-email" required="required" name="email" type="text" class="form-control" placeholder="ivan@ivanov.com">
              <div class="help-block with-errors"></div>
            </div>
            <% } %>
            <% if (modal.input_phone) { %>
            <div class="form-group">
              <label for="input-phone" class="control-label">Телефон</label>
              <input id="input-phone" required="required" name="phone" type="text" class="form-control" placeholder="+7 (921) 765-43-21">
              <div class="help-block with-errors"></div>
            </div>
            <% } %>
            <button type="submit" class="modal_btn"><%- modal.submit_btn_lable %></button>
            <label class="agreement_label">
              <input name="privacy" checked="checked" id="confirm-agreement" type="checkbox" required="required" >
              Принимаю <a href="/privacy/" target="_blank">условия</a> обработки персональных данных
            </label>
          </form>
        </div>
      </div>
    </div>
  </div>
