<%#
  Шаблон ожидает заполненные значения для заголовка и подзаголовка в переменной page
  page = {
    problems_title: 'Хочешь успешно зарабатывать на&nbsp;своём блоге без стрёмной дешёвой рекламы?',
    problems_subtitle: 'Ты&nbsp;видишь себя высокооплачиваемым лидером мнений?',
  }

  А также следующую структуру переменной problems на входе.
  problems = {
    image: '/images/template/target/' + site.target + '/problems.png',
    list: [
    'Мечтаешь, чтобы твоя работа не&nbsp;только приносила достаточно денег, но&nbsp;и&nbsp;имела смысл?',
    'Считаешь несправедливым&nbsp;то, что кому-то в&nbsp;жизни всё даётся легко и&nbsp;непринуждённо, а&nbsp;кому-то каждый день нужно бороться за&nbsp;счастье?',
    'Хочешь воплощать все свои мечты в&nbsp;реальность легко, быстро и&nbsp;ничего не&nbsp;принося в&nbsp;жертву?'
    ]
  }
%>
<section class="sec problems" id="problems">
  <div class="container">
    <div class="row">
      <div class="col offset-xl-1 col-xl-10">
        <h2 class="sec__title <%- (site.target =='without picture') ? 'text-lg-center' : '' %>"><%- page.problems_title %></h2>
        <p class="sec__descr <%- (site.target =='without picture') ? 'text-lg-center' : '' %>"><%- page.problems_subtitle %></p>
      </div>
    </div>
    <div class="row">
      <div class="<% if (site.target == 'without picture') { %> col-lg-10 offset-lg-1<% } else { %>col-xl-8 offset-xl-1 <% } %>">
        <ul class="problems__list">
          <% 
          if (problems.list.length) { 
            problems.list.forEach(function (item) {
          %>
          <li><i class="i-problems"></i><span><%- item %></span></li>
          <% });
          } 
          %>
        </ul>
      </div>
    </div>
  </div>
  <% if (site.target != 'without picture') { %>
  <div class="problems__pic"><img src="<%- problems.image %>" alt=""></div>
  <% } %> 
</section>