<%#
  Шаблон ожидает следующую структуру переменной reviews на входе.
  reviews = {
    title: 'Отзывы',
    default_picture: 'quote2', // варианты значения: quote, quote2 (это изображения из папки /images/template/{{ site.template }} )
    items: [
      {
        name: 'Ирина Кутлыбаева',
        title: 'Санкт-Петербург',
        link: {
          lable: '', // будет отображена только при наличии значения
          href: ''
        },
        comment: '1. Я&nbsp;помирилась со&nbsp;своими родителями.&nbsp;2. Уехала жить в&nbsp;Испанию. Поверьте, для обычной деревенской девочки это вообще что-то запредельное. Вернулась через месяц обратно, потому что поняла, как много полезного я&nbsp;могу делать в&nbsp;России.&nbsp;3. Переехала жить в&nbsp;Питер.&nbsp;3&nbsp;года не&nbsp;могла этого сделать.&nbsp;4. Наконец позволила себе заниматься всем, что я&nbsp;так люблю делать. Абсолютно всем. И&nbsp;мне это таааак нравится.&nbsp;5. Я&nbsp;естественно, без жести, мучений возвращаюсь к&nbsp;своему комфортному весу в&nbsp;47&nbsp;кг (сейчас&nbsp;48, а&nbsp;было&nbsp;54) и&nbsp;продолжаю есть все, что хочу. Моя работа по&nbsp;изменению установок, конечно&nbsp;же, продолжается. Я&nbsp;иду дальше и&nbsp;радуюсь всему, что происходит в&nbsp;моей жизни.',
        picture: '' // например /images/feedback/01.jpg Если оставить пустым, будет использовано стандартное изображение quote
      }
    ]
  }
%>
<% 
if (!reviews.default_picture) { reviews.default_picture = 'quote2'; } 
reviews.default_picture = '/images/template/' + site.template + '/' + reviews.default_picture + '.png';
%>
<section class="sec review">
  <div class="container-fluid">
    <div class="row">
      <div class="col offset-lg-1 col-lg-10">
        <h2 class="sec__title"><%- reviews.title %></h2>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <style type="text/css">
          /*если меньше 6*/
          @media only screen and (min-width: 1200px) {
            .review .iconed {
                min-height: 420px;
            }
          }
        </style>
        <div class="review__slider iconed review__carousel">

        <% 
          if (reviews.items.length) { 
            reviews.items.forEach(function (item) {
          %>
          <div class="review__slider-item" data-thumb="<%- (item.picture) ? item.picture : reviews.default_picture %>">  
            <div class="review__slider-pic"><img src="<%- (item.picture) ? item.picture : reviews.default_picture %>"></div>
            <p class="review__slider-name"><%- item.name %></p>
            <p class="review__slider-title"><%- item.title %></p>
            <% if (item.link.lable) { %>
            <a href="<%- item.link.href %>" target="_blank" class="review__slider-link" tabindex="-1"><%- item.link.lable %></a>
            <% } %>
            <p><%- item.comment %></p>
          </div>
        <% });
        } 
        %>
        </div>
      </div>
    </div>
  </div>
</section>
