<%#
  Шаблон ожидает заполненные значения для заголовка и подзаголовка в переменной page
  page = {
    solutions_title: 'Стань тем, кто получает желаемое легко!',
    solutions_subtitle: 'На&nbsp;тест-драйве ты&nbsp;узнаешь, как&nbsp;создается&nbsp;коллектив&nbsp;людей, способных&nbsp;продать&nbsp;снег&nbsp;зимой!',
  }

  А также следующую структуру переменной solutions на входе.
  solutions = {
    image: '/images/template/target/' + site.target + '/solutions.jpg',
    list: [
    'Почувствуй, что все двери для тебя открыты',
    'Превратись из&nbsp;человека, который тяжело работает, в&nbsp;того, кому всё дается легко',
    'Научись зарабатывать на&nbsp;собственных достижениях'
    ]
  }
%>
<section class="sec solutions" style="background-color: <%- solutions.color %>">
  <div class="container">
    <div class="row">
      <div class="col offset-xl-1 col-xl-10 <% if (site.target  == 'without picture') { %> text-lg-center<% } else { %>text-lg-right <% } %>">
        <h2 class="sec__title sol2t <%- (site.target  == 'without picture') ? 'text-lg-center' : '' %>"><%- solutions.title %></h2>
        <p class="sec__descr sol2d <%- (site.target  == 'without picture') ? 'text-lg-center pl-0' : '' %>"><%- solutions.subtitle %></p>
      </div>
    </div>
    <div class="row sol2r">
      <div class="sol2c <% if (site.target  == 'without picture') { %> col-lg-10 offset-lg-1<% } else { %>col-lg-9 offset-lg-3 col-xl-8 <% } %>">
        <ul class="solutions__list">
            <% 
            if (solutions.list.length) { 
              solutions.list.forEach(function (item) {
            %>
            <li><i class="i-solutions"></i><span><%- item %></span></li>
            <% });
            } 
            %>
        </ul>
      </div>
    </div>
  </div>
  <% if (site.target  != 'without picture') { %>
  <div class="solutions__pic"><img src="<%- solutions.image %>" alt=""></div>
  <% } %> 
</section>