<%#
  Шаблон ожидает следующую структуру переменной video на входе.
  video = {
    title: 'Видео',
    videos: [
      'AHrl09cPWhk', //YouTube Video ID
      'FEPMuGzFsAE'
    ]
  }
%>
<section class="sec video">
  <div class="container">
    <div class="row">
      <div class="col offset-lg-1 col-lg-10">
        <h2 class="sec__title"><%- video.title %></h2>
      </div>
    </div>
    <div class="row">
      <div class="col col-xl-10 offset-xl-1">
        <div class="row justify-content-center video__list">

          <% 
          if (video.videos.length) { 
            video.videos.forEach(function (item) {
          %>
          <div class="col-12 <%= (video.videos.length > 1 && video.videos.length < 3) ? 'col-md-6' : (video.videos.length >= 3) ? 'col-md-4' : '' %>">
            <div class="embed-responsive embed-responsive-16by9"> <iframe class="embed-responsive-item" width="100%" height="100%" src="https://www.youtube.com/embed/<%- item %>?autoplay=0&rel=0" frameborder="0" allowfullscreen=""></iframe> </div>
          </div>
          <% });
          } 
          %>
          
        </div>
      </div>
    </div>
  </div>
</section>
