<%#
  Шаблон ожидает наличие следующих параметров переменной page на входе.
  page = {
    amount: '8500',
    target: 'Стандарт',
    successURL: site.url + '/course-ok/',
  }

  Для работоспособности критически важно заполнить значение в переменной site.yandex_money (файл _cient_data.ejs) !!
%>
<div class="text-center m-b-md">
  <p class="m-t-md""><b>Оплата через Яндекс.Кошелек</b></p>
  <iframe src="https://money.yandex.ru/quickpay/button-widget?targets=<%- encodeURIComponent(page.target) %>&default-sum=<%- page.amount %>&button-text=11&yamoney-payment-type=on&button-size=m&button-color=orange&phone=on<%- (page.successURL) ? '&successURL=' + encodeURIComponent(page.successURL) : '' %>&quickpay=small&account=<%- site.yandex_money %>&" width="184" height="36" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
</div>
<div class="text-center m-b-md">
  <p class="m-t-md"><b>Оплата картой</b></p>
  <iframe src="https://money.yandex.ru/quickpay/button-widget?targets=<%- encodeURIComponent(page.target) %>&default-sum=<%- page.amount %>&button-text=11&any-card-payment-type=on&button-size=m&button-color=orange&phone=on<%- (page.successURL) ? '&successURL=' + encodeURIComponent(page.successURL) : '' %>&quickpay=small&account=<%- site.yandex_money %>&" width="184" height="36" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
</div>
