<!DOCTYPE html>
<html lang="ru">
  <%
    page = {
      title: '', // Если пустое значение будет использовано значение site.title
      permalink: '', //Важно! Если не верно указать относительный путь к странице - будет ошибка подгрузки частей шаблона.
      header_title: 'Трансформируй мышление. Меняй реальность',
      header_subtitle: 'Master Kit&nbsp;&mdash; методика саморегуляции, позволяющая прорабатывать негативные установки, которые мешают жить',
      video: 'wp08mjxYIsg', // При пустом значении блок _header_utp отобразится с центрированием текстового содержимого
      problems_title: 'Твоё главное препятствие на&nbsp;пути к&nbsp;успеху&nbsp;&mdash; ты&nbsp;сам?',
      problems_subtitle: 'Твои страхи и&nbsp;убеждения мешают тебе по-настоящему изменить жизнь',
      author_descr: 'Специалист по&nbsp;переговорам и&nbsp;техникам убеждения, тренер-практик',        

      author_descr: 'Специалист по&nbsp;переговорам и&nbsp;техникам убеждения, тренер-практик',
      meta: {
        keywords: '',
        description: '', // Если пустое значение будет использовано значение client.description
        image: 'images/social/social_photo.jpg'
      },
      slick_slider: true // Добавлять ли на страницу скрипт и стили слайдера Slick (необходим для блоков Дипломы, Благодарности)
    };

    //Код для определения глубины вложенности данной страницы и выстраивания правильных относительных путей к частям шаблона
    page_nesting_level = (page.permalink.match(/\//g) || []).length;
    if (page.permalink !== '/') { 
      subfolder = '../';
      if (page_nesting_level > 2) {
        subfolder = subfolder.repeat(page_nesting_level - 1);
      }
    } else { subfolder = '' } 
  %>
  <%- include(subfolder + 'template-parts/_head.ejs') %>
  <body class="<%= site.template %>">
    <div id="wrapper">
      <header class="header large">

        <%- include(subfolder + 'template-parts/_header_descr.ejs', {
          header_description: client.name4 + '&nbsp;&mdash; ' + client.description4
        }) %>

        <%- include(subfolder + 'template-parts/_header_utp.ejs', {
          utp_button: {
            lable: ' Установить приложение', // Если пустое значение будет использовано значение page.title либо site.title
            type: 'price', // Варианты значений: modal, price, m.me, other
            href: '' // Будет использовано при type: 'other' 
          }
        });  %>

        <%- include(subfolder + 'template-parts/_header_bullets.ejs', {
          bullets_list: client.bullets2
        });  %>
        
        <div class="header__next"><a href="#problems">&darr;</a></div>
      </header>

      <%- include(subfolder + 'template-parts/_problems.ejs', {
        problems: {
          list: [
            'Ты&nbsp;хотел&nbsp;бы добиваться успехов, но&nbsp;боишься трудностей и&nbsp;не&nbsp;веришь в&nbsp;себя',
            'Ты&nbsp;убежден, что для реальных достижений нужно только тяжело работать и&nbsp;всегда чем-то жертвовать',
            'Даже самые небольшие перемены в&nbsp;жизни даются тебе тяжело, а&nbsp;хотелось&nbsp;бы &laquo;взмаха волшебной палочки&raquo;'
          ],
          image: '/images/template/target/' + site.target + '/problems.png',
        }
      });  %>

      <%- include(subfolder + 'template-parts/_solutions.ejs', {
        solutions: {
          color:'',
          title: 'Измени свои установки и&nbsp;твоё мышление будет работать на&nbsp;тебя',
          subtitle: 'С&nbsp;Master Kit ты&nbsp;получаешь не&nbsp;приложение с&nbsp;мотивационными лозунгами, а&nbsp;систему трансформации мышления',
          list: [
            'Увеличивай свой доход и&nbsp;условия работы без дополнительной нагрузки',
            'Налаживай личную жизнь, избавившись от&nbsp;негативных установок, настроивших тебя на&nbsp;одиночество',
            'Избавляйся от&nbsp;деструктивных убеждений, мешающих тебе быть здоровым, активным и&nbsp;энергичным',
            'Добивайся любых поставленных целей без мучений и&nbsp;изнурительного труда'
          ],
          image: '/images/template/target/' + site.target + '/solutions.jpg',
        }
      });  %> 

      <%- include(subfolder + 'template-parts/_solutions2.ejs', {
        solutions: {
          color:'#ffffff',
          title: 'Проработай свои убеждения и&nbsp;избавься от&nbsp;того, что тянет на&nbsp;дно',
          subtitle: 'Master Kit помогает отслеживать и&nbsp;вовремя устранять негативные мысли',
          list: [
            'Интерактивное обучение включает: видео-обучение + практика + еженедельное видео с&nbsp;ответами на&nbsp;вопросы. Это позволяет быстро освоить методику',
            'Сопровождение 24/7. Специалисты в&nbsp;любое время дня и&nbsp;ночи ответят не&nbsp;только на&nbsp;технические вопросы, но&nbsp;и&nbsp;на&nbsp;вопросы о&nbsp;методике',
            'Отслеживание прогресса. Ты&nbsp;сможешь каждый день отслеживать статистику своих проработок, наблюдая за&nbsp;своими личными показателями'
          ],
          image: '',
        }
      });  %>   

       <%#- include(subfolder + 'template-parts/_solutions2.ejs', {
        solutions: {
          color:'#fafafa',
          title: 'Не мешай себе быть счастливым',
          subtitle: 'Меняй свои убеждения шаг за&nbsp;шагом, пока не&nbsp;избавишься от&nbsp;всего лишнего',
          list:[
            'Получение первых результатов от&nbsp;Master Kit',
            'Доступ к&nbsp;тренажеру на&nbsp;1&nbsp;месяц',
            'Два тренажёра&nbsp;&mdash; для выявления неэффективных установок и&nbsp;для их&nbsp;трансформации',
            'Интерактивное обучение',
            'Доступ в&nbsp;службу поддержки 24/7',
            'Возможность отслеживать свою статистику'
          ],
          image: '',
        }
      });  %>     
 
      <%- include(subfolder + 'template-parts/_price.ejs', {
        price: {
          title: 'Присоединяйся к&nbsp;системе, которая меняет жизнь к&nbsp;лучшему',
          descr: 'Тысячи людей уже достигли своих целей при помощи Master Kit и&nbsp;теперь рекомендуют его своим друзьям', 
          items: client.price_items
        }
      });  %>

      <%- include(subfolder + 'template-parts/_solutions2.ejs', {
        solutions: {
          color:'#fafafa',
          title: 'Master Kit&nbsp;&mdash; приложение, которое будет сопровождать тебя на&nbsp;пути к&nbsp;изменению твоей реальности',
          subtitle: '',
          list: [
            'Мотивация. Master Kit будет мотивировать тебя на&nbsp;постоянное движение к&nbsp;целям, и&nbsp;будет делать это в&nbsp;приятной форме',
            'Мобильное приложение. Все функции доступны в&nbsp;мобильных приложениях на&nbsp;Android и&nbsp;iOS',
            'Тренажеры. Ты&nbsp;получишь доступ к&nbsp;тренажерам, уровень которых зависит от&nbsp;уровня Master Kit'
          ],
          image: '',
        }
      });  %> 
        <%- include(subfolder + 'template-parts/_video.ejs', {
        video: {
         title: 'Обзор приложения Master Kit',
            videos: [
              'kqiF4gEfTUo'
            ]
        }
      });  %>
      <%- include(subfolder + 'template-parts/_review.ejs', {
        reviews: {
          title: 'Отзывы',
          default_picture: 'quote', // варианты значения: quote, quote2 (это изображения из папки /images/template/{{ site.template }} )
          items: client.reviews
        }
      });  %>

      <%- include(subfolder + 'template-parts/_calltoact.ejs', {
        cta: {
          title: 'Научись мечтать. Научись воплощать!',
          descr: '',
          button: {
            lable: 'Установить приложение', // Если пустое значение будет использовано значение page.title либо site.title
            type: 'price', // Варианты значений: modal, price, m.me, other
            href: '' // Будет использовано при type: 'other' 
          }
        }
      }); %>

      <%- include(subfolder + 'template-parts/_modal.ejs', {
        modal: site.form
      }); %>

      <div class="container">
        <hr  style="margin-top: 0;">
      </div>

      <%- include(subfolder + 'template-parts/_footer.ejs') %>
    </div>
    <%- include(subfolder + 'template-parts/_scripts.ejs') %>
  </body>
</html>