<!DOCTYPE html>
<html lang="ru">
  <%
    page = {
      title: '', // Если пустое значение будет использовано значение site.title
      permalink: '', //Важно! Если не верно указать относительный путь к странице - будет ошибка подгрузки частей шаблона.
      header_title: 'Как активному человеку получать стабильный пассивный доход?',
      header_subtitle: '&laquo;19&nbsp;секретных кодов новой реальности&raquo;&nbsp;&mdash; вебинар, который поможет заработать на&nbsp;том, что ты&nbsp;любишь',
      video: 'LXbzwY00cbg', // При пустом значении блок _header_utp отобразится с центрированием текстового содержимого
      problems_title: 'Хочешь иметь стабильный источник дохода без крысиных бегов?',
      problems_subtitle: 'Ты&nbsp;мечтаешь о&nbsp;финансовом благополучии, но&nbsp;не&nbsp;готов тратить лучшие годы на&nbsp;работу в&nbsp;офисе?',
      author_descr: 'Специалист по&nbsp;переговорам и&nbsp;техникам убеждения, тренер-практик',
      meta: {
        keywords: '',
        description: '', // Если пустое значение будет использовано значение client.description
        image: ''
      },
      slick_slider: true // Добавлять ли на страницу скрипт и стили слайдера Slick (необходим для блоков Дипломы, Благодарности)
    };

    //Код для определения глубины вложенности данной страницы и выстраивания правильных относительных путей к частям шаблона
    page_nesting_level = (page.permalink.match(/\//g) || []).length;
    if (page.permalink !== '/') { 
      subfolder = '../';
      if (page_nesting_level > 2) {
        subfolder = subfolder.repeat(page_nesting_level - 1);
      }
    } else { subfolder = '' } 
  %>
  <%- include(subfolder + 'template-parts/_head.ejs') %>
  <body class="<%= site.template %>">
    <div id="wrapper">
      <header class="header large">

        <%- include(subfolder + 'template-parts/_header_descr.ejs', {
          header_description: client.name + '&nbsp;&mdash; ' + client.description
        }) %>

        <%- include(subfolder + 'template-parts/_header_utp.ejs', {
          utp_button: {
            lable: 'Записаться на вебинар', // Если пустое значение будет использовано значение page.title либо site.title
            type: 'm.me', // Варианты значений: modal, price, m.me, other
            href: 'facebook.com' // Будет использовано при type: 'other' 
          }
        });  %>

        <%- include(subfolder + 'template-parts/_header_bullets.ejs', {
          bullets_list: client.bullets
        });  %>
        
        <div class="header__next"><a href="#problems">&darr;</a></div>
      </header>


      <%- include(subfolder + 'template-parts/_problems.ejs', {
        problems: {
          list: client.problems_list,
          image: '/images/template/target/' + site.target + '/problems.png',
        }
      });  %>


      <%- include(subfolder + 'template-parts/_solutions.ejs', {
        solutions: {
          title: 'Стань тем, кто получает желаемое легко!',
          subtitle: 'Зарабатывай проще, без стрессов и&nbsp;сверхусилий!',
          list: client.solutions_list,
          image: '/images/template/target/' + site.target + '/solutions.jpg',
        }
      });  %>


      <%- include(subfolder + 'template-parts/_author.ejs', {
        author: {
          is_even_section: true,
          title: 'Стелла Штрек',
          descr: page.author_descr,
          content: client.about
        }
      });  %>


      <%- include(subfolder + 'template-parts/_calltoact.ejs', {
        cta: {
          title: '',
          descr: '',
          button: {
            lable: 'Записаться на вебинар', // Если пустое значение будет использовано значение page.title либо site.title
            type: 'm.me', // Варианты значений: modal, price, m.me, other
            href: '' // Будет использовано при type: 'other' 
          }
        }
      }); %>

            <%#- include(subfolder + 'template-parts/_video.ejs', {
        video: {
         title: 'Видео',
            videos: [
              'AHrl09cPWhk', //YouTube Video ID
              'FEPMuGzFsAE'
            ]
        }
      });  %> 

      <%- include(subfolder + 'template-parts/_review.ejs', {
        reviews: {
          title: 'Отзывы',
          default_picture: 'quote', // варианты значения: quote, quote2 (это изображения из папки /images/template/{{ site.template }} )
          items: client.reviews
        }
      });  %>



      <%- include(subfolder + 'template-parts/_modal.ejs', {
        modal: site.form
      }); %>

      <div class="container">
        <hr  style="margin-top: 0;">
      </div>

      <%- include(subfolder + 'template-parts/_footer.ejs') %>
    </div>
    <%- include(subfolder + 'template-parts/_scripts.ejs') %>
  </body>
</html>