<!DOCTYPE html>
<html lang="ru">
  <%
    page = {
      title: '', // Если пустое значение будет использовано значение site.title
      permalink: '', //Важно! Если не верно указать относительный путь к странице - будет ошибка подгрузки частей шаблона.
      header_title: 'Трансформируй мышление. Меняй реальность.',
      header_subtitle: 'Master Kit&nbsp;&mdash; методика саморегуляции, позволяющая прорабатывать негативные установки, которые мешают жить.',
      video: '', // При пустом значении блок _header_utp отобразится с центрированием текстового содержимого
      
      problems_title: 'Ты&nbsp;хочешь полностью себя обеспечивать и&nbsp;быть независимым?',
      problems_subtitle: 'Мечтаешь о&nbsp;финансовой стабильности, но&nbsp;не&nbsp;хотел&nbsp;бы загонять себя в&nbsp;кабалу восьмичасового офисного рабства',
      
      solutions_title: 'Измени свои установки и&nbsp;твоё мышление будет работать на&nbsp;тебя',
      solutions_subtitle: 'С&nbsp;Master Kit ты&nbsp;получаешь не&nbsp;приложение с&nbsp;мотивационными лозунгами, а&nbsp;систему трансформации мышления',
      
      author_descr: 'Специалист по&nbsp;переговорам и&nbsp;техникам убеждения, тренер-практик',        
      meta: {
        keywords: '',
        description: '', // Если пустое значение будет использовано значение client.description
        image: ''
      },
      slick_slider: true // Добавлять ли на страницу скрипт и стили слайдера Slick (необходим для блоков Дипломы, Благодарности)
    };

    //Код для определения глубины вложенности данной страницы и выстраивания правильных относительных путей к частям шаблона
    page_nesting_level = (page.permalink.match(/\//g) || []).length;
    if (page.permalink !== '/') { 
      subfolder = '../';
      if (page_nesting_level > 2) {
        subfolder = subfolder.repeat(page_nesting_level - 1);
      }
    } else { subfolder = '' } 
  %>
  <%- include(subfolder + 'template-parts/_head.ejs') %>
  <body class="<%= site.template %>">
    <div id="wrapper">
      <header class="header large">

        <%- include(subfolder + 'template-parts/_header_descr.ejs', {
          header_description: client.name5 + '&nbsp;&mdash; ' + client.description5
        }) %>

        <%- include(subfolder + 'template-parts/_header_utp.ejs', {
          utp_button: {
            lable: ' Обсудить сотрудничество', // Если пустое значение будет использовано значение page.title либо site.title
            type: 'price', // Варианты значений: modal, price, m.me, other
            href: '' // Будет использовано при type: 'other' 
          }
        });  %>

        <%- include(subfolder + 'template-parts/_header_bullets.ejs', {
          bullets_list: [
            '4152 пользователя стали зарабатывать большие деньги',
            '2742 улучшили отношения',
            '1956 пользователей отметили, что перестали болеть'
            ],
        });  %>
        
        <div class="header__next"><a href="#problems">&darr;</a></div>
      </header>

      <%- include(subfolder + 'template-parts/_problems.ejs', {
        problems: {
          list: [
            'Мечтаешь о&nbsp;работе, которой можно будет заниматься, лежа на&nbsp;песчаном пляже и&nbsp;потягивая прохладную Пина Коладу, сладкую и&nbsp;прекрасную, как вся твоя жизнь?',
            'Хочешь зарабатывать на&nbsp;своих достижениях и&nbsp;помогать другим людям менять их&nbsp;реальность?',
            'Хотел&nbsp;бы навсегда забыть про однообразную работу и&nbsp;прекратить бессмысленный бег в&nbsp;колесе?'
            ],
          image: '/images/template/target/' + site.target + '/problems.png',
        }
      });  %>

      <%- include(subfolder + 'template-parts/_solutions.ejs', {
        solutions: {
          color:'',
          title:'Стань одним из&nbsp;тех, кому всё дается легко',
          subtitle:'С&nbsp;Super Ego ты&nbsp;обретешь финансовую независимость и&nbsp;полную уверенность в&nbsp;завтрашнем дне',
          list: [
            'Увеличивай свой доход и&nbsp;условия работы без дополнительной нагрузки',
            'Избавляйся от&nbsp;деструктивных убеждений, мешающих тебе быть здоровым, активным и&nbsp;энергичным',
            'Достигай любых поставленных целей без мучений и&nbsp;изнурительного труда'
          ],
          image: '/images/template/target/' + site.target + '/solutions.jpg',
        }
      });  %>    

       <%- include(subfolder + 'template-parts/_solutions.ejs', {
        solutions: {
          color:'#fafafa;',
          title:'Super Ego — партнерство, которое меняет жизнь',
          subtitle:'',
          list: [
            'Сообщество Super Ego это закрытый клуб, попадая в&nbsp;который ты&nbsp;окружаешь себя поддержкой единомышленников, создающих новую реальность каждый день.',
            'К&nbsp;нам уже присоединилось 34&nbsp;857 человек',
            'Возможности разнообразны: от&nbsp;дополнительного дохода в&nbsp;30&nbsp;000 рублей до&nbsp;30&nbsp;000&nbsp;000 рублей в&nbsp;месяц.'
            ],
          image: '',
        }
      });  %>    

          <%- include(subfolder + 'template-parts/_calltoact.ejs', {
        cta: {
          title: 'Master Kit — программа, в которой пользователи меняют свою реальность',
          descr: 'Это приложение, помогающее отслеживать и контролировать мысли, тянущие на дно',
          button: {
            lable: 'Установить приложение', // Если пустое значение будет использовано значение page.title либо site.title
            type: 'price', // Варианты значений: modal, price, m.me, other
            href: '' // Будет использовано при type: 'other' 
          }
        }
      }); %>    

       <%- include(subfolder + 'template-parts/_program.ejs', {
        program: {
            title:'Master Kit — программа, в которой пользователи меняют свою реальность',//Организация производства ― построение административной системы управления.
            content: client.program
        }
      });  %>     

      <%- include(subfolder + 'template-parts/_price.ejs', {
        price: {
          title: 'Присоединяйся к&nbsp;системе, которая меняет жизнь к&nbsp;лучшему',
          descr: 'Тысячи людей уже достигли своих целей при помощи Master Kit и&nbsp;теперь рекомендуют его своим друзьям', 
          items: client.price_items2
        }
      });  %>

      <%- include(subfolder + 'template-parts/_solutions.ejs', {
        solutions: {
          color:'#fafafa;',
          title:'Super Ego&nbsp;&mdash; компания, разработавшая Master Kit&nbsp;&mdash; приложение, которое меняет сознание',
          subtitle:'',
          list: [
            'Master Kit используется уже более чем 40000 клиентами из&nbsp;65&nbsp;стран мира',
            'Партнеры компании получают от&nbsp;30&nbsp;000 рублей до&nbsp;30&nbsp;000&nbsp;000 рублей в&nbsp;месяц',
            'Методику используют все&nbsp;&mdash; от&nbsp;студентов и&nbsp;мам-домохозяек до&nbsp;высокопоставленных политиков и&nbsp;первых лиц страны.'
            ],
          image: '',
        }
      });  %> 

    <%#- include(subfolder + 'template-parts/_video.ejs', {
        video: {
         title: 'Видеоотзывы',
            videos: [
              'AHrl09cPWhk', //YouTube Video ID
              'FEPMuGzFsAE'
            ]
        }
      });  %>
      
      <%- include(subfolder + 'template-parts/_review.ejs', {
        reviews: {
          title: 'Отзывы',
          default_picture: 'quote', // варианты значения: quote, quote2 (это изображения из папки /images/template/{{ site.template }} )
          items: client.reviews
        }
      });  %>

      <%- include(subfolder + 'template-parts/_calltoact.ejs', {
        cta: {
          title: 'Научись мечтать. Научись воплощать!',
          descr: '',
          button: {
            lable: 'Выбрать пакет', // Если пустое значение будет использовано значение page.title либо site.title
            type: 'price', // Варианты значений: modal, price, m.me, other
            href: '' // Будет использовано при type: 'other' 
          }
        }
      }); %>

      <div class="container">
        <hr  style="margin-top: 0;">
      </div>
      
      <%- include(subfolder + 'template-parts/_modal.ejs', {
        modal: site.form
      }); %>

      <%- include(subfolder + 'template-parts/_modal.ejs', {
        modal: site.form1
      }); %>

      <%- include(subfolder + 'template-parts/_modal.ejs', {
        modal: site.form2
      }); %>

      <%- include(subfolder + 'template-parts/_modal.ejs', {
        modal: site.form3
      }); %>

      <%- include(subfolder + 'template-parts/_footer.ejs') %>
    </div>
    <%- include(subfolder + 'template-parts/_scripts.ejs') %>
  </body>
</html>