<!DOCTYPE html>
<html lang="ru">
    <%
    page = {
      title: 'Бесплатный вебинар «19 секретных кодов новой реальности»',
      permalink: '/ok/', //Важно! Если не верно указать относительный путь к странице - будет ошибка подгрузки частей шаблона.
      meta: {
        keywords: '',
        description: '', // Если пустое значение будет использовано значение client.description
        image: 'images/social/social_photo.jpg'
      },
      slick_slider: false // Добавлять ли на страницу скрипт и стили слайдера Slick (необходим для блоков Дипломы, Благодарности)
    };

    //Код для определения глубины вложенности данной страницы и выстраивания правильных относительных путей к частям шаблона
    page_nesting_level = (page.permalink.match(/\//g) || []).length;
    if (page.permalink !== '/') { 
      subfolder = '../';
      if (page_nesting_level > 2) {
        subfolder = subfolder.repeat(page_nesting_level - 1);
      }
    } else { subfolder = '' }
  %>
  <%- include(subfolder + 'template-parts/_head.ejs') %>
  <body class="<%= site.template %>">
    <div id="wrapper" class="page">
      <header class="header">
              <%- include(subfolder + 'template-parts/_header_descr.ejs', {
          header_description: client.name + '&nbsp;&mdash; ' + client.description
        }) %>
      </header>
      <section class="content">
        <div class="container">
          <div class="row align-items-end justify-content-center py-3">
            <div class="col-12 col-md-10 col-lg-8 text-center">
              <h1 class="content__title">Регистрация прошла успешно!</h1>
              <p class="content__descr">
                  Итак, давай же разберемся в важном вопросе — как превратиться из человека, который вынужден тяжело работать, в того, кому везет. Вебинар пройдет 14 ноября в 19:00 по Москве. Мы вышлем тебе напоминание в день вебинара вместе со ссылкой 😉
                  Пока суть да дело, можешь подсмотреть за моим секретным инструментом — приложением для проработки негативных убеждений. Да-да, карманный психолог, друг и мотиватор в одном флаконе.                  
              </p>
                  
      <%#- include(subfolder + 'template-parts/_video.ejs', {
        video: {
         title: '',
            videos: [
              'AHrl09cPWhk'
            ]
        }
      });  %> 
      <a href="http://masterkitmoscow.icoach.io/ " class="btn">Подробнее о MasterKit</a>
            </div>

            <div class="col-12 col-md-10 col-lg-7"><img src="/images/base/contact.jpg" alt=""></div>
          </div>

        </div>

      </section>
      <%- include(subfolder + 'template-parts/_footer.ejs') %>
    </div>
    <%- include(subfolder + 'template-parts/_scripts.ejs') %>
  </body>
</html>