<%# 
    Данные о сайте и клиенте, которые должны быть доступны на всех страницах.
    _client_data содержит два объекта:
    1) site (данные сайта в целом, одинаковые для всех страниц, напр. коды аналитики и другие технические данные)
    2) client (данные о клиенте, т.е. содержание отображаемое на страницах). 

    Параметры переменной client используются при включении частей шаблона на страницу, как источник данных. 
    Если необходимо заменить данные шаблона для отдельной страницы - на место переменной в include становятся сами данные в изменённом варианте, т.е. 

    include(subfolder + 'template-parts/_header_bullets.ejs', {
    bullets_list: client.bullets
    });

    изменится на

    include(subfolder + 'template-parts/_header_bullets.ejs', {
    bullets_list: [
    'Получи...',
    'Повысь эффективность...',
    'Мощная...'
    ]
    });
    %>
<% 
    site = {
    url: '',
    template: 'deep', // Доступные стили внешнего вида: deep, herb, clear, cornflower, dark, lemon, orange
    target: 'business', // Доступные направления сайта (влияет на отображение): without picture, business
    title: 'Смотреть вебинар!', // Глобальный заголовок для всех страниц сайта. В файлах каждой страницы его можно заменить на локальный в page.title
    footer_left: [
    // Строки для левой колонки _footer
    '<nobr><a href="https://www.facebook.com/Stella-Glushenkova-281787875769741/">Facebook</a></nobr>',
    '<nobr><a href="https://www.instagram.com/stella_shtrek/">Instagram</a></nobr>'
    ],
    footer_right: [
    // Строки для правой колонки _footer
    'superego.moscow@mail.ru '
    ],
    vk_group_id: '',
    fb_group_id: '281787875769741', // Будет использовано при построении ссылки на Бота в Messenger
    yandex_money: '', // ID кошелька Yandex.Деньги. Обязательные параметр при наличии страницы оплаты в схеме проекта. 
    analytics: {
    // ID аккаунтов для включения в коды счетчиков
    facebook_pixel_id: '454854895153473',
    google_tracking_id: 'UA-89298735-13', //код всегда одинаковый, для всех проектов
    yandex_metrica_id: '',
    vk_retarget_url: '',
    },
    form: {
    id: '', // Если оставить пустым будет испольовано стандартное id modal
    title: '', // Если оставить пустым будет использовано значение site.title
    offer: 'Master Kit 1 уровень', // Отображается в CRM для определения предложения для записи на которое пользователь заполнил форму 
    trello_list_id: '5d1c6e288f632087955bc2f3', // Обязательный параметр для работоспособности формы
    redirect: 'http://superego.icoach.io/ok', // относительный путь к странице подтверждения успешного сохранения данных
    input_name: true, // определяет включать ли соответствующее поле в форму
    input_email: true,
    input_phone: true,
    submit_btn_lable: 'Записаться'
    },
    form1: {
    id: 'f1', // Если оставить пустым будет испольовано стандартное id modal
    title: 'Master Kit 1 уровень', // Если пустое значение будет использовано значение page.title либо site.title
    offer: 'Смена парадигмы',
    trello_list_id: '5d1c6df8371e6f6b78ba386a',
    redirect: 'http://superego.icoach.io/ok/',
    input_name: true, // определяет включать ли соответствующее поле в форму
    input_email: true,
    input_phone: true,
    submit_btn_lable: 'Получить'
    },
    form2: {
    id: 'f2', // Если оставить пустым будет испольовано стандартное id modal
    title: 'Пакет 1', // Если пустое значение будет использовано значение page.title либо site.title
    offer: 'Master Kit - Пакет 1',
    trello_list_id: '5d1c6e288f632087955bc2f3',
    redirect: 'https://super-ego.info/pay/base/stellashtrek59',
    input_name: true, // определяет включать ли соответствующее поле в форму
    input_email: true,
    input_phone: true,
    submit_btn_lable: 'Записаться'
    },
    form3: {
    id: 'f3', // Если оставить пустым будет испольовано стандартное id modal
    title: 'Пакет 2', // Если пустое значение будет использовано значение page.title либо site.title
    offer: 'Master Kit - Пакет 2',
    trello_list_id: '5d1c6e38e7c915618ae369de',
    redirect: 'https://super-ego.info/pay/stellashtrek59',
    input_name: true, // определяет включать ли соответствующее поле в форму
    input_email: true,
    input_phone: true,
    submit_btn_lable: 'Записаться'
    },
    event: {
    // Данное поле перенесено из Jekyll шаблона, но оно нигде не использовалось
    textdate: '' //убрать hidden-xs
    },
    modified_bootstrap_styles: true, // Если false - на страницу будут добавлены стандартные стили bootstrap.min.css из CDN. 
    }; 

    client = {
      name: 'Стелла Штрек',
      name4:'Master Kit&nbsp',
      name5:'Super Ego',
      description: 'предприниматель в&nbsp;сфере недвижимости, партнёр компании Super Ego, дипломированный психолог',
      description2: 'архитектор, дизайнер, член Союза архитекторов России, партнёр компании Super Ego',
      description3: 'предприниматель, практический психолог, коуч, энергопрактик, партнёр компании Super Ego',   
      description4: 'приложение, позволяющее менять неосознаваемые установки и&nbsp;достигать любых целей в&nbsp;короткий срок',
      description5: 'компания, разработавшая Master Kit&nbsp;&mdash; уникальный инструмент для саморегуляции, который помог тысячам людей решить проблемы с&nbsp;финансами, отношениями и&nbsp;здоровьем',
      bullets:  [
        'Знакомство с&nbsp;системой, которая поможет тебе достичь благополучия без сверхусилий',
        'Уничтожь преграды, которые мешают тебе добиваться успеха в&nbsp;своей сфере',
        'Формируй новую реальность!'
        ],    
      bullets2:  [
        'Приложение доступно на&nbsp;Android и&nbsp;iOS',
        'Изменяй неосознаваемые установки и&nbsp;достигай выдающихся результатов',
        'Формируй новую реальность!'
    ],
      bullets3:  [
        '4152 пользователя стали зарабатывать большие деньги',
        '2742 улучшили отношения',
        '1956 пользователей отметили, что перестали болеть'
    ],
      problems_list: [
        'Мечтаешь, чтобы твоя работа не&nbsp;только приносила достаточно денег, но&nbsp;и&nbsp;имела смысл?',
        'Считаешь несправедливым&nbsp;то, что кому-то в&nbsp;жизни всё даётся легко и&nbsp;непринуждённо, а&nbsp;кому-то каждый день нужно бороться за&nbsp;счастье?',
        'Хочешь воплощать все свои мечты в&nbsp;реальность легко, быстро и&nbsp;ничего не&nbsp;принося в&nbsp;жертву?'
        ],    
      solutions_list: [
        'Почувствуй, что все двери для тебя открыты',
        'Превратись из&nbsp;человека, который тяжело работает, в&nbsp;того, кому всё дается легко',
        'Научись зарабатывать на&nbsp;собственных достижениях'
        ],    
    program: [
      {
      title:'',
      list: [
        {
        list_title:[
          'Master Kit 1 уровень:'
          ],
          list_description:[
          '“Смена парадигмы”'
          ],
        list_item:[
          'Как попасть на&nbsp;ТВ, не&nbsp;имея личного бренда',
          'Самые убойные приемы в&nbsp;продвижении личного бренда',
          '7&nbsp;смертных грехов гостей&nbsp;ТВ эфиров',
          'Разные приемы для создания притягательных текстов'
        ]
        },
        {
        list_title:[
          'Master Kit 2 уровень:'
          ],
          list_description:[
          '“Управление реальностью”'
          ],
        list_item:[
          'Получение основных инструментов: вы&nbsp;научитесь управлять своей жизнью, своей реальностью',
          'Доступ к&nbsp;тренажерам Master Kit на&nbsp;3&nbsp;месяца',
          'Добавляются 11&nbsp;тренажеров:',
          'Тренажер &laquo;Ситуация&raquo;&nbsp;&mdash; для достижения любой цели при помощи Master Kit',
          'Тренажер &laquo;Страх&raquo;&nbsp;&mdash; для работы с&nbsp;любыми страхами, мешающими достичь цели',
          'Тренажер &laquo;Обида&raquo;&nbsp;&mdash; для работы с&nbsp;обидами на&nbsp;себя и&nbsp;других, улучшения отношений',
          'Тренажер &laquo;Образ&raquo;&nbsp;&mdash; для трансформации неконструктивных представлений о&nbsp;деньгах, отношениях и&nbsp;др.',
          'Тренажёр &laquo;Качества&raquo;&nbsp;&mdash; для проработки раздражающих и&nbsp;&laquo;неприемлемых&raquo; качеств&nbsp;&mdash; как своих, так и&nbsp;других людей, в&nbsp;результате вы&nbsp;обретаете новое понимание, принятие и&nbsp;избавляетесь от&nbsp;подобных проявлений в&nbsp;жизни. ',
          '6&nbsp;тренажеров &laquo;Универсальные установки&raquo;, качественно улучшающих вашу жизнь: &laquo;Любовь к&nbsp;себе просто так&raquo;, &laquo;Предназначение&raquo;, &laquo;Мои желания&raquo;, &laquo;Моя индивидуальность&raquo;, &laquo;Мои эмоции&raquo;, &laquo;Стремление к&nbsp;одиночеству&raquo;',
          'Умение делать свои цели доступными и&nbsp;легко достижимыми осознание основных причин сопротивления и&nbsp;работа с&nbsp;ними интерактивное обучение',
          'Доступ в&nbsp;службу поддержки 24/7',
          'Возможность отслеживать свою статистику'
          ]
        },
        {
        list_title:[
          'Master Kit 3 уровень:'
          ],
          list_description:[
          '“Снятие сопротивления”'
          ],
        list_item:[
          '&laquo;Снятие сопротивления&raquo; ',
          'Преодоление страха перемен',
          'Снятие сопротивления на&nbsp;получение результатов от&nbsp;Master Kit позволение себе бОльших целей и&nbsp;результатов',
          'Доступ к&nbsp;тренажерам Master Kit на&nbsp;3&nbsp;месяца',
          'Тренажёр &laquo;Глубина&raquo;&nbsp;&mdash; для трансформации самых глубинных установок, которые могут казаться &laquo;непробиваемыми&raquo;; ',
          'Тренажёр &laquo;Связь&raquo;&nbsp;&mdash; для устранения связей между желаемыми целями и&nbsp;негативными понятиями/представлениями, что делает проработки масштабными.',
          'Добавляются 2&nbsp;новых тренажера:',
          'Трансформация ваших ограничивающих убеждений и&nbsp;установок подсознания интерактивное обучение',
          'Доступ в&nbsp;службу поддержки 24/7',
          'Возможность отслеживать свою статистику'
        ]
        },
        {
        list_title:[
          'Master Kit 4 уровень:'
          ],
          list_description:[
          '“Самооценка в норме”'
          ],
        list_item:[
          '&laquo;Самооценка в&nbsp;норме&raquo;',
          'Изменение внутреннего восприятия самых масштабных и&nbsp;&laquo;невероятных&raquo; целей',
          'Позволение себе нового уровня жизни, масштабных целей',
          'Глубокое принятие себя, способствующее достижению целей',
          'Доступ к&nbsp;тренажерам Master Kit на&nbsp;3&nbsp;месяца',
          'Добавляются 2&nbsp;новых тренажера:',
          'Тренажёр &laquo;Самооценка&raquo;&nbsp;&mdash; для отвязки любых условностей от&nbsp;самооценки, для искреннего осознавания, что каждый человек уже совершенен и&nbsp;его внутренняя ценность не&nbsp;зависит ни&nbsp;от&nbsp;чего. ',
          'Тренажёр &laquo;Уровень нормы&raquo;&nbsp;&mdash; для создания нового уровня жизни (в&nbsp;любой сфере)',
          'Проработка и&nbsp;достижение целей, которые кажутся недостижимыми, невероятными',
          'Проработка и&nbsp;выход на&nbsp;новое качество жизни',
          'Интерактивное обучение',
          'Сопровождение 24/7',
          'Возможность отслеживать свою статистику'
        ]
        },
        {
        list_title:[
          'Master Kit 5 уровень:'
          ],
          list_description:[
          '“Выход из оценочности”'
          ],
        list_item:[
          '&laquo;Выход из&nbsp;оценочности&raquo;',
          'Ипреодоление страха быть отвергнутым семьей, обществом, окружением',
          'Получение желаемого играючи',
          'Доступ к&nbsp;тренажерам Master Kit на&nbsp;3&nbsp;месяца',
          'Добавляются 2&nbsp;новых тренажера:',
          'Тренажер &laquo;Проработка от&nbsp;обратного&raquo;&nbsp;&mdash; подход, принципиально отличающийся от&nbsp;остальных',
          'Тренажер &laquo;Деление&raquo;&nbsp;&mdash; позволяет почувствовать себя частью этого мира и&nbsp;уйти от&nbsp;полярностей, мешающих чувствовать единство.',
          'Выход из&nbsp;постоянной оценки себя, своих результатов, других людей, мира',
          'Проработка глубинных ограничений, не&nbsp;позволяющих проживать гениальную жизнь',
          'Интерактивное обучение',
          'Сопровождение 24/7',
          'Возможность отслеживать свою статистику'
        ]
        }
      ]
    }
    ],
    about: [
      {
        image: '/images/photo.jpg',
        name:['Стелла Штрек'],
        list: [
          'Партнёр компании Super Ego',
          'Более 15&nbsp;лет в&nbsp;строительном бизнесе, прошла путь от&nbsp;риелтерского агентства до&nbsp;строительства ЖК&nbsp;&laquo;Парк Горького&raquo; в&nbsp;Алматы',
          'Занималась продвижением брендов воды Sevens и&nbsp;Maxi чая на&nbsp;рынке Казахстана',
          'Дипломированный психолог, ведет личный блог с&nbsp;советами по&nbsp;проработке своих негативных установок',
          'Научилась совмещать большие амбиции с&nbsp;женским счастьем: успешный предприниматель, мама троих детей'
        ]
      }
    ],

    diplomas: [
      '/images/diploma/01.jpg',
      '/images/diploma/02.jpg',
      '/images/diploma/02.jpg',
      '/images/diploma/03.jpg'
      ],
    videos: [
    // YouTube Video IDs
      'AHrl09cPWhk',
      'FEPMuGzFsAE'
      ],
    cases: [
    {
      name: 'Елена Феоктистова',
      info: 'Директор Центра Финансовой Культуры <br><a href="https://vk.com/elena_fincult" target="_blank">@elena_fincult</a>',
      was: [
        'Не&nbsp;было эфиров. Страница в&nbsp;инстаграме без активности'
      ],
      now: [
        'Эфиры на&nbsp;тв. Впоследствии Елена стала гостем и&nbsp;других программ на&nbsp;тв. Увеличено количество подписчиков, появилась активность и&nbsp;вовлечённость. Больше людей узнали о&nbsp;ее&nbsp;бизнесе.'
      ]
    },
    {
      name: 'Александр Жданов',
      info: 'Санкт-Петербург <br><a href="https://vk.com/alexander.zhdanov" target="_blank">@alexander.zhdanov</a>',
      was: [
        'Разовые эфиры, где Саша выступал как звездный фотограф.'
      ],
      now: [
        'Поменялось позиционирование. Упор на&nbsp;тему путешествий. Своя рубрика. Свой блог. Свой Телеграм-канал. Суммарно на&nbsp;разных каналах более 100 теле- и&nbsp;радиоэфиров. Своя книга.'
      ]
    }
    ],
    reviews: [
    {
      name: 'Александр Токин',
      title: 'Ростов-на-Дону',
      link: {
        lable: '', // будет отображена только при наличии значения
        href: ''
      },
      comment: 'Ставил цель&nbsp;&mdash; 50&nbsp;000&nbsp;рублей, получил ровно за&nbsp;месяц! Ставил&nbsp;&mdash; 150&nbsp;000&nbsp;рублей, получил 143&nbsp;000 за&nbsp;месяц! Каждый раз я&nbsp;убеждаюсь в&nbsp;том, что деньги можно зарабатывать легко! И&nbsp;все благодаря проработкам через тренажер Мастер Кит. Люди берут кредиты на&nbsp;бизнес, но&nbsp;не&nbsp;бизнес решает проблемы&nbsp;&mdash; проблемы с&nbsp;деньгами &laquo;в&nbsp;голове&raquo;, поэтому в&nbsp;голове нужно искать причину и&nbsp;устранять&nbsp;ее. И&nbsp;все получится.',
      picture: '' // например /images/feedback/01.jpg Если оставить пустым, будет использовано стандартное изображение quote
    },
    {
        name: 'Ирина Кутлыбаева',
        title: 'Санкт-Петербург',
        link: {
          lable: '', // будет отображена только при наличии значения
          href: ''
        },
        comment: '1. Я&nbsp;помирилась со&nbsp;своими родителями.&nbsp; <br>2. Уехала жить в&nbsp;Испанию. Поверьте, для обычной деревенской девочки это вообще что-то запредельное. Вернулась через месяц обратно, потому что поняла, как много полезного я&nbsp;могу делать в&nbsp;России.&nbsp;<br>3. Переехала жить в&nbsp;Питер.&nbsp;3&nbsp;года не&nbsp;могла этого сделать.&nbsp;<br>4. Наконец позволила себе заниматься всем, что я&nbsp;так люблю делать. Абсолютно всем. И&nbsp;мне это таааак нравится.&nbsp;<br>5. Я&nbsp;естественно, без жести, мучений возвращаюсь к&nbsp;своему комфортному весу в&nbsp;47&nbsp;кг (сейчас&nbsp;48, а&nbsp;было&nbsp;54) и&nbsp;продолжаю есть все, что хочу. Моя работа по&nbsp;изменению установок, конечно&nbsp;же, продолжается. Я&nbsp;иду дальше и&nbsp;радуюсь всему, что происходит в&nbsp;моей жизни.',
        picture: '' // например /images/feedback/01.jpg Если оставить пустым, будет использовано стандартное изображение quote
    },
    {
      name: 'Эльвира Ахметова',
      title: 'Алматы',
      link: {
        lable: '', // будет отображена только при наличии значения
        href: ''
      },
      comment: 'Главной целью было найти своё предназначение. После работы с&nbsp;методикой я&nbsp;поняла, что мое предназначение всю жизнь было рядом со&nbsp;мной, просто были установки, мешающие мне его увидеть. Я&nbsp;всегда была причастна к&nbsp;футболу, с&nbsp;самого детства. Все начало складываться как надо: нужные люди и&nbsp;события, новые связи, продвижение по&nbsp;работе, создание и&nbsp;развитие нового направления, а&nbsp;именно спортивной психологии, которая помогает спортсменам достигать своих лучших результатов. Cегодня у&nbsp;меня большие цели и&nbsp;планы!',
      picture: '' // например /images/feedback/01.jpg Если оставить пустым, будет использовано стандартное изображение quote
    },
        {
      name: 'Венера Курбангалиева',
      title: 'Казань',
      link: {
        lable: '', // будет отображена только при наличии значения
        href: ''
      },
      comment: 'Для меня это было, как взорвавшаяся бомба. Принятие и&nbsp;осознание того, зачем со&nbsp;мной случилась моя болезнь, ввергли меня в&nbsp;шок. В&nbsp;хороший шок! Я&nbsp;плакала снова и&nbsp;снова, долго.Я&nbsp;получила ответы! Причины моей болезни стали для меня очевидными, а&nbsp;методика дала инструменты, чтобы их&nbsp;устранить. В&nbsp;моем сознании&nbsp;и, главное, в&nbsp;моей реальности случился буквально квантовый скачок. Ушли мои страхи, включая самый главный&nbsp;&mdash; страх возврата болезни. Я&nbsp;многое поняла в&nbsp;себе, увидела причины своей болезни, и&nbsp;я&nbsp;уверена, что именно это помогло мне преодолеть рак.',
      picture: '' // например /images/feedback/01.jpg Если оставить пустым, будет использовано стандартное изображение quote
    }
    ],
    price_items: [
    {
      name: 'Master Kit 1 уровень:',
      amount: '4 900<span>₽</span>',
      descr: '“Смена парадигмы” ',
      features: [
        'Получение первых результатов от&nbsp;Master Kit',
        'Доступ к&nbsp;тренажеру на&nbsp;1&nbsp;месяц',
        'Два тренажёра&nbsp;&mdash; для выявления неэффективных установок и&nbsp;для их&nbsp;трансформации',
        'Интерактивное обучение',
        'Доступ в&nbsp;службу поддержки 24/7',
        'Возможность отслеживать свою статистику'
      ],
      button: {
        lable: 'Получить!', // Если пустое значение будет использовано значение page.title либо site.title
        type: 'other', // Варианты значений: modal, price, m.me, other
        href: 'https://m.me/281787875769741?ref=/end' // Будет использовано при type: 'other' или 'modal' 
      }
    }
      ],
    price_items2: [
  {
      name: 'Пакет 1:',
      amount: '26 800<span>₽</span>',
      descr: 'Master Kit 1 уровень + Master Kit 2 уровень = 13 тренажеров 1 и 2 уровня, доступ к тренажерам на 3 месяца ',
      features: [],
      button: {
        lable: 'Получить!', // Если пустое значение будет использовано значение page.title либо site.title
        type: 'modal', // Варианты значений: modal, price, m.me, other
        href: '#f2' // Будет использовано при type: 'other' или 'modal' 
      }
    },{
      name: 'Пакет 2:',
      amount: '59 000<span>₽</span>',
      descr: 'Master Kit 1 уровень+ Master Kit 2 уровень + Master Kit 3 уровень+ Master Kit 4 уровень+ Master Kit 5 уровень = 19 тренажеров, доступ к тренажерам на 13 месяцев.',
      features: [],
      button: {
        lable: 'Получить!', // Если пустое значение будет использовано значение page.title либо site.title
        type: 'modal', // Варианты значений: modal, price, m.me, other
        href: '#f3' // Будет использовано при type: 'other' или 'modal' 
      }
    }

    ],
    partners: [
      // '/images/feedback/logo-oriflame.png',
    ]
    };
    %>